/* ใช้ import font (ตามโจทย์) */
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

body {
    margin: 0;
    font-family: 'Kanit', sans-serif;

    background-color: #DFDBE5;
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    text-align: center;
}

.card {
    background: white;
    padding: 25px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.15);
    margin-bottom: 30px;
}

.card h3 {
    margin: 0;
}

#count {
    font-size: 48px;
    font-weight: bold;
    margin: 15px 0;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
}

.info h1 {
    font-size: 20px;
}

.info h2 {
    color: #3333cc; /* กำหนดสีตัวอักษร */
    margin: 5px 0;
}

.info p {
    margin: 0;
}
